h1{
    color: blue;
}
@media (min-width:500px){
    body{
        background-color:rgb(92, 111, 219);
    }
    h1::before{
        content:"this screen has a min width of 500px<------------>";
    }
    @media (max-width:499px){
    body{
        background-color:rgb(43, 226, 113);
        

    }
    h1::before{
        content:"this screeen has width less than 500px<----------->" ;
    }

   
}
button{
    background-color: green;
}
button:hover{
    background-color:aquamarine;
}
.btn::before{
    content: "there is a button near me";
}
.container{
    background-color: rgb(216, 238, 23);
    display: flex;
    flex-wrap: wrap;}
    .container>div{
        background-color: aqua;
        margin: 20px;

    }
.grid{
    background-color: rgb(253, 136, 136);
    display: grid;
    padding: 10px;
    grid-column-gap:20px;
    grid-row-gap:10px;
    grid-template-columns: 1fr  2fr 1fr;
}
.child{
    background-color: rgb(230, 141, 9);
}